*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(-60deg,#bb3f07f7,#0b5463f0) */
    background: linear-gradient(-60deg,#FF5F6D , #FFC371);
    background-size: cover;

}
.card{
    width: 50rem;
    max-width: 54rem;
    background: linear-gradient(140deg,rgb(21 22 22),#abababb4);
    color: #fff;
    margin: 2rem auto 0;
    border-radius: 2rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 1rem 1rem #6e5058b4;
}
@media (max-width: 800px) {
    .card {
        height: 61rem;
        width: 22rem;
        padding: 1rem;
        margin: 1rem 1rem 1rem 1rem ;
    }
  }
.search{
    margin-top: 2rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .search {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }
.search input{
    width: 11rem;
    text-align: center;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 1rem;
    height: 4rem;
    border-radius: 2rem;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    cursor: pointer;

}
.search button img{
    width: 2rem;
}

.weather-icon{
    width: 8rem;
    margin-top: 2rem;
}
.weather h1{
    font-size: 3rem;
    font-weight: 500;
}
.weather h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0rem;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 1rem;
    margin-top: 0rem;
}
@media (max-width: 800px) {
    .details{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 39rem;
    }
  }
@media (max-width: 800px) {
    .weather .other{
        font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border-color: black;
    background-color: #28262c;
    text-align: left;
    margin-left: 0rem;
    }
  }
.cold{
    /* display: flex; */
    align-items:center;
    text-align: center;
}
.cold img{
    width:4rem;
    margin-right:1rem;
}
.humidity, .wind{
    font-size: 2rem;
    margin-top: 0rem;
    
}
.weather{
    display:contents;
}
.error{
    text-align: center;
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    display: none;
    color: rgb(255, 217, 0);
}
.other{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border-color: black;
    background-color: #28262c;
    margin-left: 4rem;
    text-align: left;
}
.pressure,.Level,.min,.max,.visibility{
   font-size: 0.75rem;
   text-align: right;
   color: #ff8738;;
}
